.itemOp{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #fff;
    padding-left: 60px;
}
.itemOp img{
    width: 180px;
    padding: 10px;
    border: 1px solid white;
    background: rgb(191, 218, 191);
}
.description-cont{
    display: flex;
    flex-direction: column;
}
.itemOp p{
    margin: 3px 0;
}
.price{
    color: #000000;
    font-size: 15px;
}
.title{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}
.item-price-old{
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
}
.itemOp:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.itemOp button{
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    background: #ff9100;
    box-shadow: 1px 1px 5px #c7c7c7;
    color: #fff;
    border: none;
    width: 100%;
}